<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        body {
            background-color: lightskyblue;
        }
    </style>
    <title>Washington Post Search</title>
</head>
<body>

  <h3>Washington Post Search</h3>
  <form action="{{ url_for('results') }}" name="search" method="post">
    Search Type
    <br>
    <label for="BM25" >BM25</label>
    <input type="radio" checked="True" name="qtype" value="BM25" id="BM25">
    <br>
    <label for="BM25_custom">BM25_custom</label>
    <input type="radio" name="qtype" value="BM25_custom" id="BM25_custom">
    <br>
    <label for="fastText">fastText</label>
    <input type="radio" name="qtype" value="ft_vector" id="fastText">
    <br>
    <label for="Bert">Bert</label>
    <input type="radio" name="qtype" value="sbert_vector" id="Bert">
    <br>
    <label for="Query Expansion">Expanded Query</label>
    <input type="radio" name="qtype" value="expanded_description" id="Query Expansion">
    <br>
    <label for="keyBERT">keyBERT</label>
    <input type="radio" name="qtype" value="keyBERT" id="keyBERT">
    <br>
    <label for="query">Query:</label>
    <input type="text" id="query" value="{{query}}" name="query" size=50>
    <input type="submit" value="Search">
  </form>


</body>
</html>
